%btn {
  display: inline-block;
  border-radius: 5;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  @include set-backgrund(lighten($primary-color, 10%));
}

.btn-secondary {
  @extend %btn;
  @include set-backgrund($secondary-color);
}
